<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>

    <body class="app sidebar-mini">

        <!-- Navbar-->
        <%- include('./partials/navbar') %>

            <main class="app-content">
                <div class="app-title">
                    <div>
                        <h1><i class="fas fa-file-invoice-dollar"></i></i> Factura</h1>
                        <p>Registro y consulta de facturas</p>
                    </div>
                </div>
                <div class="row" id="container__main-invoice">
                    <div class="clearfix" style="margin-bottom:-1.3rem;">
                        <button id="btn__geneterate-invoice" class="btn btn-light btn-sm ml-4 mb-4 pt-1 pb-2"
                            type="button">Nueva Factura
                            <i class="fas fa-file-invoice"></i>
                        </button>
                        <button id="btn__consult-invoice" class="btn btn-light btn-sm ml-1 mb-4 pt-1 pb-2"
                            type="button">
                            Consultar facturas
                            <i class="fas fa-search"></i></i>
                        </button>
                    </div>
                    <div id="container__new-invoice" class="col-md-12 " style="display: block;">
                        <div class="tile">
                            <form id="form__create-invoice">
                                <div>
                                    <h5 class="mb-3 line-head">Nueva factura</h5>
                                    <h6 id="title__code-invoice"></h6>
                                </div>
                                <div class="col-md-12 mr-2 mb-3" style="display: flex;flex-wrap: wrap;">

                                    <div class="col-md-4 ">
                                        <input class="form-control" type="text" maxlength="6" placeholder="Placa"
                                            id="vehicle__ByInvoice" autofocus
                                            onkeyup="javascript:this.value=this.value.toUpperCase()">
                                    </div>
                                    <div class=" col-md-4 " id=" ">
                                        <input id="client__ByInvoice" type="text" class="form-control"
                                            placeholder="Cliente" disabled>
                                    </div>
                                    <div class=" col-md-2 " id=" ">
                                        <input id="km__ByInvoice" type="number" class="form-control" placeholder="km"
                                            disabled>
                                    </div>
                                    <div class=" col-md-2 " id=" ">
                                        <select class="form-control" name="" id="select__tpayment-invoice">
                                            <option disabled selected value="null">T.Pago</option>
                                            <option value="contado">Contado</option>
                                            <option value="credito">Credito</option>
                                        </select>
                                    </div>

                                </div>


                                <div class="col-md-12 mr-2 mb-3" id="container_form-items" style="display: none;">
                                    <div class="col-md-10 ">
                                        <select class="form-control " name="" id="select-productOrService">
                                            <option value="null" disabled selected>--SELECCIONE PRODUCTO O SERVICIO--
                                            </option>
                                            <option value="s">SERVICIO</option>
                                            <option value="p">PRODUCTO</option>
                                        </select>
                                    </div>


                                    <div class="col-md-12 mr-2 mb-3" style="display: flex; flex-wrap: wrap;">

                                        <div class="col-md-8 " style="display: none;"
                                            id="container__select-productInvoince">
                                            <select class="form-control " name="" id="product__ByInvoice"
                                                data-toggle="tooltip" data-placement="bottom"
                                                data-original-title="Producto - Referecia - Precio de compra">
                                                <option value="null" disabled selected>Productos</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1 " style="display: none;"
                                            id="container__input-cantProductInvoince">
                                            <input id="cant__byInvoice" name="precio" class="form-control" type="number"
                                                placeholder="1" min=1 max=99  data-toggle="tooltip" data-placement="bottom"
                                                data-title="Cantidad">
                                        </div>
                                        <div class="col-md-9 " style="display: none;"
                                            id="container__select-serviceInvoince">
                                            <select class="form-control " name="" id="service__ByInvoice">
                                                <option value="null" disabled selected>Servicios</option>
                                            </select>
                                        </div>

                                        <div id="container_dto" class="col-md-3 " style="display: none;">

                                            <div class="">
                                                <input id="dto__byInvoice" name="precio" class="form-control "
                                                    type="number" placeholder="$ 00" min="100" max="9999999"
                                                    data-toggle="tooltip" data-placement="bottom"
                                                    data-title="Precio de venta">
                                            </div>

                                        </div>

                                        <div id="container_price-service" class="col-md-3"
                                            style="display: flex; display:none">
                                            <div class="">
                                                <input id="price_service" name="precio" class="number  form-control"
                                                    type="number" placeholder="$ 00" min="100" max="9999999">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-16 mr-2 mb-3" style="display: flex;">
                                            <label for="" style="margin-top:0.5rem;margin-left: 2rem;"><strong>40%
                                                    Empleado</strong> </label>
                                            <div class="toggle" style="margin-top:0.5rem ;">
                                                <label>
                                                    <input type="checkbox" checked id="check__comEmployee-byInvoice"
                                                        disabled><span class="button-indecator"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-2 ">
                                                <input id="commission__byInvoice" name="precio" class="form-control"
                                                    type="number" placeholder="$00" min="100" max="9999999" disabled>
                                            </div>
                                            <select class="form-control col-md-4" name="" id="employee__ByInvoice"
                                                disabled>
                                                <option disabled selected value="null">Empleado</option>
                                            </select>
                                            <div class="col-md-2 ">
                                                <button id="add__item-byInvoice"
                                                    class="btn btn-success ml-1 mb-4 pt-1 pb-2" type="button">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="message-regItem" class="message-reg alert alert-danger mt-3" role="alert">
                                    </div>
                                </div>

                            </form>

                            <div id="contaier__table-items" class="table-responsive" style="display: none;">
                                <table class="table table-striped ">
                                    <thead style="background:rgb(182, 184, 183);">
                                        <tr>
                                            <th>Descrip</th>
                                            <th>Marca</th>
                                            <th>Ref</th>
                                            <th>Cant</th>
                                            <th>V. Unit</th>
                                            <th>V. Total</th>
                                            <th>Nom. Emp</th>
                                            <th>Com. Emp</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="table__items-invoice">
                                    </tbody>
                                </table>
                                <div style="display: flex;">
                                    <div style="display: flex; margin-left: 1rem;"><strong>Total Empleados:</strong>
                                        <p id="text__total-employe"></p>
                                    </div>
                                    <div style="display: flex; margin-left: 1rem;"><strong>Total bruto:</strong>
                                        <p id="text__total-bruto"></p>
                                    </div>
                                    <div style="display: flex; margin-left: 1rem;"><strong>Total neto:</strong>
                                        <p id="text__total-neto"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="tile-footer">
                                <button id="register__newInvoice" class="btn btn-primary btn-sm" type="button"
                                    disabled><i class="fa fa-fw fa-lg fa-check-circle">
                                    </i>Facturar</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary btn-sm"
                                    id="resetRegisterInvoice" href="#"><i
                                        class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                            </div>
                        </div>
                    </div>
                    <div id="container__consult-invoice" class="col-md-12 " style="display: none;">
                        <div class="tile">
                            <h5 class="mb-3 line-head">Consultar</h5>
                            <div class="col-md-16 mr-2 mb-3" style="display: flex;flex-wrap: wrap;">
                                <div class="col-md-3 ">
                                    <input class="form-control" id="input__Date1-invoice" type="date"
                                        data-toggle="tooltip" data-placement="bottom"
                                        data-original-title="fecha inicial" min="2021-01-01" max="2050-01-01">
                                </div>
                                <div class="col-md-3 ">
                                    <input class="form-control" id="input__Date2-invoice" type="date"
                                        data-toggle="tooltip" data-placement="bottom" data-original-title="fecha final"
                                        min="2021-01-01" max="2050-01-01">
                                </div>
                                
                                <div class=" col-md-2 " id=" ">
                                    <select class="form-control" name="" id="Consult_typePay-ByInvoice"
                                        data-toggle="tooltip" data-placement="bottom" data-original-title="tipo de pago">
                                        <option value="all">Todos</option>
                                        <option value="cont">Contado</option>
                                        <option value="cred">Credito</option>
                                        <option value="cancel">Canceladas</option>
                                    </select>
                                </div>
                                <div class=" col-md-2 " id=" ">
                                    <select class="form-control" name="" id="Consult_Category-ByInvoice"
                                        data-toggle="tooltip" data-placement="bottom" data-original-title="categoria">
                                        <option value="null">-- --</option>
                                        <option value="placa">Placa</option>
                                        <option value="idClient">Id cliente</option>
                                        <option value="name">Nombre cliente</option>
                                        <option value="cod">Codigo factura</option>
                                        <option value="payment">Tipo de Pago</option>
                                    </select>
                                </div>

                                <div class="col-md-2 ">
                                    <input class="form-control" id="seach_parameterInvoice" type="search"
                                        placeholder="Buscar" disabled data-toggle="tooltip" data-placement="bottom"
                                        data-original-title="parametro de busqueda">
                                </div>

                            </div>
                            <button id="List_consultAllInvoice" class="btn btn-dark btn-sm mb-4 ml-3 pt-1 pb-2"
                                type="button">
                                Listar Todos <i class="ml-2 fa fa-list"></i>
                            </button>
                            <button id="List_accountsReceivable" class="btn btn-dark btn-sm mb-4 ml-3 pt-1 pb-2"
                                type="button">
                                Cuentas Por Cobrar <i class="fas fa-file-invoice-dollar"></i>
                            </button>
                            <button id="List_invoice-cancel" class="btn btn-dark btn-sm mb-4 ml-3 pt-1 pb-2"
                                type="button">
                                Facturas Anuladas <i class="fas fa-ban"></i>
                            </button>

                            <div id="container_table-Invoice"></div>
                        </div>
                    </div>

                </div>

                <!-- alert for invoice -->
                <div class="row" id="info__client-printInvoice" style="display:none"></div>

                <!-- modal register vehicle -->
                <div id="Modal__reg-newVeicle" class="modal">
                    <div class="modal-dialog flex" role="document">
                        <div class="modal-content">
                            <div class="modal-header flex">
                                <h5>Registro de vehiculo</h5>
                            </div>
                            <div class="modal-body">
                                <%- include('./partials/forms/formVehicle') %>
                                    <div class="tile-footer">
                                        <button id="btn_register_vehicle" class="btn btn-primary" type="button"><i
                                                class="fa fa-fw fa-lg fa-check-circle"></i>Agregar</button>&nbsp;&nbsp;&nbsp;<a
                                            class="btn btn-secondary" id="btn_cancelReg_vehicle" href="#"><i
                                                class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                                    </div>
                            </div>
                            <div class="footer"></div>
                        </div>
                    </div>
                </div>


                <div id="Modal__reg-newClient" class="modal">
                    <div class="modal-dialog flex" role="document">
                        <div class="modal-content">
                            <div class="modal-header flex">
                                <h5>Registro de cliente</h5>
                            </div>
                            <div class="modal-body">
                                <%- include('./partials/forms/formClient') %>
                                    <div class="tile-footer">
                                      <button id="registerClient" class="btn btn-primary" type="submit"><i
                                        class="fa fa-fw fa-lg fa-check-circle"></i>Agregar</button>&nbsp;&nbsp;&nbsp;<a
                                      class="btn btn-secondary" id="cancelRegisterClient" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                                    </div>
                            </div>
                            <div class="footer"></div>
                        </div>
                    </div>
                </div>

                <!-- modal cancel invoice -->
                <div id="Modal__Cancel-invoice" class="modal">
                    <div class="modal-dialog flex" role="document">
                        <div class="modal-content">
                            <div class="modal-header flex">
                                <h5 id="title-editInventory">Anulacion de factura</h5>
                            </div>
                            <div class="modal-body">
                                <textarea type="text" class="form-control mb-2" id="textarea__comentary-cancelInvoice"
                                    placeholder="Agregue un comentario" style="resize:none"></textarea>
                                <div id="message-regItem" class="message-reg alert alert-danger mt-3" role="alert">
                                </div>
                                <button id="btn__annulment-invoice" class="btn btn-danger"><i
                                        class="fa fa-fw fa-lg fa-ban"> </i>Anular</button>
                                <button id="btn__Cancelannulment-invoice" class="btn btn-secondary">
                                    <i class="fa fa-fw fa-lg fa-times-circle"> </i>Cancelar</button>
                            </div>
                            <div class="footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="Modal__Cancel-invoice" class="modal">
                    <div class="modal-dialog flex" role="document">
                        <div class="modal-content">
                            <div class="modal-header flex">
                                <h5 id="title-editInventory">Anulacion de factura</h5>
                            </div>
                            <div class="modal-body">
                                <textarea type="text" class="form-control mb-2" id="textarea__comentary-cancelInvoice"
                                    placeholder="Agregue un comentario" style="resize:none"></textarea>
                               
                                <div id="message-regItem" class="message-reg alert alert-danger mt-3" role="alert">
                                </div>
                                <button id="btn__annulment-invoice" class="btn btn-danger"><i
                                        class="fa fa-fw fa-lg fa-ban"> </i>Anular</button>
                                <button id="btn__Cancelannulment-invoice" class="btn btn-secondary">
                                    <i class="fa fa-fw fa-lg fa-times-circle"> </i>Cancelar</button>
                            </div>
                            <div class="footer">
                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- modal add pay to invoice -->
                <div id="Modal__payment-toInvoice" class="modal">
                    <div class="modal-dialog flex" role="document">
                        <div class="modal-content">
                            <div class="modal-header flex">
                                <h6 id="title-payment-toInvoice"></h6>
                            </div>
                            <div class="modal-body">
                                <label for=""></label>
                                <input type="number" class="form-control mb-2" id="input__payment-toinvoice"
                                    placeholder="$00">
                                <label for="" id="label__missing-balance"></label>
                                <br>
                                <button id="btn__payment-toInvoice" class="btn btn-primary"><i
                                        class="fas fa-money-bill-wave"> </i> Abonar </button>
                                <button id="btn__Cancelpayment-toInvoice" class="btn btn-secondary">
                                    <i class="fa fa-fw fa-lg fa-times-circle"> </i>Cancelar</button>
                            </div>
                            <div class="footer">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Modal__list-payment" class="modal">
                    <div class="modal-dialog flex" role="document">
                        <div class="modal-content">
                            <div class="modal-header flex">
                                <h6>Abonos realizados</h6>
                            </div>
                            <div class="modal-body" id="container__table-listPaiment">
                            </div>
                            <div class="footer">

                            </div>
                        </div>
                    </div>
                </div>

            </main>
            <!-- Sidebar menu-->
            <%- include('./partials/sidebar') %>

                <%- include('./partials/footer') %>

                    <!-- Footer-->
    </body>

</html>