<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>

  <body class="app sidebar-mini">

    <!-- Navbar-->
    <%- include('./partials/navbar') %>

      <main class="app-content">
        <div class="app-title">
          <div>
            <h1><i class="fa fa-edit"></i> Registro de proveedores</h1>

          </div>
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item"><a href="#">Sample Forms</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="tile">
              <h5 class="mb-3 line-head">Proveedor</h5>
              <div class="tile-body">
                <%- include('./partials/forms/formSupplier') %>
                <div class="tile-footer">
                  <button id="registerSupp" class="btn btn-primary" type="submit"><i
                      class="fa fa-fw fa-lg fa-check-circle"></i>Agregar</button>&nbsp;&nbsp;&nbsp;<a
                    class="btn btn-secondary" id="resetRegisterSupp" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                </div>
              </div>

            </div>
          </div>

      </main>


      <!-- Sidebar menu-->
      <%- include('./partials/sidebar') %>

        <!-- Footer-->
        <%- include('./partials/footer') %>
  </body>

</html>